@import "~material-colors/dist/colors.scss";
$fancy-tree-controls-border-width: 1px;
$fancy-tree-controls-bg-color: $md-grey-50;
$fancy-tree-controls-border-color: $md-grey-400;
$fancy-tree-controls-dropdown-divider-color: $md-grey-300;
.fancy-tree {
  position: relative;
  text-align: left;
  &__controls {
    display: flex;
    width: 100%;
    min-height: 36px;
    border: $fancy-tree-controls-border-width solid
      $fancy-tree-controls-border-color;
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    .fancy-tree--open & {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  &__value-container {
    flex: 1;
    margin-bottom: 5px;
  }
  &__internal-value-item-container {
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    vertical-align: top;
  }
  &__internal-value-item {
    display: inline-table;
    cursor: pointer;
    background: #e3f2fd;
    padding: 2px;
    border-right: 1px solid transparent;
    border-radius: 2px;
    color: #039be5;
    font-size: 12px;
    vertical-align: top;
  }
  &__internal-values-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__internal-value-label,
  &__internal-value-remove {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    svg {
      width: 6px;
      height: 6px;
    }
  }
  &__internal-value-label {
    box-sizing: border-box;
    padding-right: 5px;
  }
  &__internal-value-remove {
    padding-left: 5px;
    border-left: 1px solid #fff;
    color: #039be5;
    line-height: 0;
  }
  &__input-container {
    max-width: 100%;
    padding-top: 5px;
    display: inline-block;
    line-height: 0;
  }
  &__internal-item {
    width: 40px;
    display: inline-block;
    background-color: #fff;
    border-color: #e0e0e0;
    border-radius: 2px;
  }
  &__input {
    line-height: inherit;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 12px;
  }
  &__control-arrow-container {
    flex: none;
    transition: all 0.25s;
  }
  &__control-arrow-container--rotate {
    transform: rotate(-180deg);
  }
  &__dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    border: $fancy-tree-controls-border-width solid
      $fancy-tree-controls-border-color;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    .fancy-tree--open & {
      margin-top: -$fancy-tree-controls-border-width;
      border-top-color: $fancy-tree-controls-dropdown-divider-color;
    }
  }
  &__treenode-constainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  &__treenode-arrow {
    margin: 0 10px 0px 10px;
    width: 9px;
    height: 9px;
    color: #ccc;
    vertical-align: middle;
  }
  & svg {
    fill: currentColor;
  }
  &__treenode-arrow-placeholder {
    width: 20px;
  }
  &__checkbox {
    display: block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    &--checked {
      border-color: #039be5;
      background: #039be5;
    }
    &--indeterminate {
      border-color: #039be5;
      background: #039be5;
    }
  }
  &__check-mark,
  &__minus-mark {
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 200ms all ease;
  }
  &__check-mark {
    width: 8px;
    height: 8px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMA8u24NxILB+Tawb6jiH1zRz0xIQIIP3GUAAAAMklEQVQI1y3FtQEAMQDDQD+EGbz/qkEVOpyEOP6PudKjZNSXn4Jm2CKRdBKzSLsFWl8fMG0Bl6Jk1rMAAAAASUVORK5CYII=);
    background-size: 8px 8px;
    -ms-transform: scaleY(0.125);
    transform: scaleY(0.125);
  }
  &__minus-mark {
    width: 8px;
    height: 8px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAACVBMVEUAAAD///////9zeKVjAAAAAnRSTlMAuLMp9oYAAAAPSURBVAjXY4CDrJUgBAMAGaECJ9dz3BAAAAAASUVORK5CYII=);
    background-size: 8px 8px;
  }
  &__checkbox--checked > &__check-mark {
    opacity: 1;
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
  &__checkbox--disabled > &__check-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAP1BMVEUAAADj4+Pf39/h4eHh4eHh4eHk5OTh4eHg4ODi4uLh4eHh4eHg4ODh4eHh4eHg4ODh4eHh4eHp6en////h4eFqcyvUAAAAFHRSTlMAOQfy7bgS5NrBvqOIfXNHMSELAgQ/iFsAAAA2SURBVAjXY4AANjYIzcjMAaVFuBkY+RkEWERYmRjYRXjANAOfiIgIFxNIAa8IpxBEi6AwiAQAK2MBd7xY8csAAAAASUVORK5CYII=);
  }
  &__checkbox--indeterminate > &__minus-mark {
    opacity: 1;
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
  &__checkbox--unchecked {
    border-color: #e0e0e0;
    background-color: #fff;
  }
  &__label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__indent-level-0 {
    padding-left: 5px;
  }
  &__indent-level-1 {
    padding-left: 20px;
  }
  &__indent-level-2 {
    padding-left: 40px;
  }
  &__indent-level-3 {
    padding-left: 60px;
  }

  &__indent-level-4 {
    padding-left: 80px;
  }
  &__indent-level-5 {
    padding-left: 120px;
  }
  &__indent-level-6 {
    padding-left: 140px;
  }
  &__treenode--hide {
    display: none;
  }
}
